*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  width: 100%;
  background-color: rgb(152, 198, 205);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0px;
}